<!DOCTYPE html>
<html>
<head>
  <title>ESEI Appointment Poll</title>
  <link rel="stylesheet" href="styles/index_style.css"/>
  <link rel="stylesheet" href="styles/register_style.css" />
</head>
<body>
	<header>
		<div class="header-full">
			<div class="header-logo">
					<div class="logo">
						<img src="icons/EAP_logo.png" alt="logo">
					</div>
					<div class="header-user">
						<div class="header-eap">
							<h1 class="eap">ESEI APPOINTMENT POLL</h1>
							<p class="user">User: Disconnected</p>
						</div>
						<div class="header-button">
								<img src="icons/spanish.png" class="languages" alt="Spanish">                     
								<img src="icons/english.png" class="languages" alt="English">             
                <p hidden>
                  <button class="button" name="SignUp">&#128682; Sign Up</button>
							  	<button class="button" name="Login">&#x21aa; Log In</button>
                  <button class="button" name="Logout">&#10060; Log Out</button>	
                </p>
						</div>
					</div>
				</div>
				<div class="nav">
				  <ul>
					 <li class="home"><a href="#">Home</a></li>
					 <li class="new-poll"><a href="#">New poll</a></li>
           <li class="my-polls"><a href="#">My polls</a></li>
				 	 <li class="about"><a href="#">About</a></li>
					 </li>
			   </ul>
			</div>
		</div>
	</header>
	<main>
	  <div class="form_item">
      <form name="SignUp_form" method="post" >  
				<h1>Sign Up Form</h1>
				<p>Please enter your email, username and password to sign up!</p>
				<input type="email" placeholder="&#x2709; Email" name="email">
        <input type="text" placeholder="&#128113; Username" name="user">
        <input type="password" placeholder="&#128272; Password" name="password">
				<input type="submit" value="Sign Up">
				<p>If you already have an account, please log in <a href="#">here</a></p>
      </form>
    </div>
	</main>
	<footer> &copy;ESEI Appointment Poll - 2018</footer>
</body>
</html>
